#grid-container{
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
}
.columns-4{
    width: 33.33%;
}
.box{
    height: 300px;
    text-align: center;
    vertical-align: middle;
    font-size: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f1f1f1;
}
.columns-9{
    width: 75%;
}
.columns-3{
    width: 25%;
}
.dis-flex{
    display: flex;
    flex-wrap: wrap;
}
.buttons-container{
    padding: 10px;
}
.buttons-container button{
    padding: 9px 41px;
    border-radius: 5px;
    border: none;
    background-color: #72c3dc;
    color: #f1f1f1;
    font-size: 1.8em;
    box-shadow: 2px 2px 5px 1px #8ba9b3;
}

@media only screen and (max-width: 375px) {
    .columns-4{
        width: 100%;
    }
    .box{
        height: 35px;
        text-align: center;
        vertical-align: middle;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #353535;
        margin-bottom: 3px;
        background-color: #cccccc!important;
    }
    .columns-9{
        width: 100%;
    }
    .columns-3{
        width: 100%;
    }
    .buttons-container button{
        padding: 8px 24px;
        border-radius: 5px;
        border: none;
        background-color: #72c3dc;
        color: #f1f1f1;
        font-size: 1em;
        box-shadow: 2px 2px 5px 1px #8ba9b3;
    }
  }